h1{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.submenu{
  width: 380px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  margin-bottom: 25px;

  .item{
    color:#FFFFFF;
    background-color: #3384FF;
    padding: 10px;
    border-radius: 5px;
    width:120px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
  }

  .item:hover,
  .item.active{
    opacity: 1;
  }
}
