.secret{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;
  }

  input{
    font-size: 1.25em;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .button{
    background-color: #3384ff;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-size: bold;
  }

  .button:hover{
    opacity: 0.8;
  }

  .message{
    margin-top: 10px;
    color: #FF0000;
    font-weight: bold;
  }
}
