.scoring{
  width: 800px;
  margin: 0 auto;

  h1{
    font-size: 1.4em;
    margin-top: 40px;
  }

  p{
    line-height: 1.5em;
    font-size: 1.1em;
  }

  ul{
    line-height: 1.5em;
    font-size: 1.1em;
    padding-left: 20px;
    font-style: italic;
  }

  h2{
    font-size: 1.25em;
  }
}
